.ToolButton,
.ShopButton {
  position: absolute;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  padding-top: 3vh;
}

.ToolButton {
  bottom: 5%;
  left: 5%;
  background-color: blue;
}

.ShopButton {
  bottom: 5%;
  right: 5%;
  background-color: purple;
}

.Info {
  display: flex;
  flex-direction: column;
  height: 13vh;
  border: black solid 2px;
}

.Info .section {
  padding: 5px;
  flex-grow: 2;
  border: black solid 1px;
}


@media screen and (min-width: 600px) {
  .Info {
    flex-direction: row;
  }

  .Info .section {
    width: 50%;
  }
}