.Playfield {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1.5vh;
  background-color: black;
}

.Playfield .Spot {
  width: 20vh;
  height: 20vh;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 13vh;
}
