.Playfield {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  width: 100vw;
  height: 100vh;
  overflow: scroll;

  --plot-size: 8vh;
}

.inner {
  display: grid;
  position: relative;
  grid-template-columns: repeat(var(--playfield-width), 1fr);
  grid-template-rows: repeat(var(--playfield-height), 1fr);
  grid-gap: 0;
  background-color: black;
}

.Playfield .Plot {
  position: relative;
  width: var(--plot-size);
  height: var(--plot-size);
  background-color: green;
  /* border: yellowgreen 1px solid; */
  font-size: 1.8vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* https://stackoverflow.com/a/56664704/346485 */

.Playfield .Plot,
.Playfield .Plot .Plant,
.Playfield .Character {
  background-image: url('../../../images/ClassicRPG_Sheet.png');
  background-size: 2000% 800%;  /* 20x8 sprites */
}

.Plot.type-Normal {
  background-position: -600% -57%;
}

.Plot.type-Plowed {
  background-position: -605% 0;
  background-size: 2020% 800%;
}

.Plot.type-Weeded {
  background-position: -595% 0;
}

.Plot.selectedForAction {
  border: yellow solid 1px;
}

.Plot.selected:before {
  /* https://css-tricks.com/snippets/css/multiple-borders/ */
  border: orange solid 2px;

  content: " ";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
}

.Plot .Plant {
  position: absolute;
  width: var(--plot-size);
  height: var(--plot-size);
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: url('../../../images/ClassicRPG_Sheet.png');
}

.Plot .Plant.type-Potato {
  background-position: -574% -358%;
  background-size: 2000% 791%;
  top: 2vh;
  left: 2vh;
  width: 4vh;
  height: 4vh;
}

.Plot .Plant.harvestable,
.Plot .Plant.harvestable.withered {
  top: 0;
  left: 0;
  width: 8vh;
  height: 8vh;
}

.Plot .Plant.withered {
  filter: grayscale(100%);
}

.Plot .Plant.seed {
  top: 3vh;
  left: 3vh;
  width: 2vh;
  height: 2vh;
  border-radius: 50%;
  background-color: brown;
  background-image: none;
}

.Playfield .Character {
  position: absolute;
  width: 5vh;
  height: 5vh;
  background-position: 0 0;
}
