.Playfield {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  width: 100vw;
  height: 100vh;
  overflow: scroll;

  --plot-size: 8vh;
}

.inner {
  display: grid;
  position: relative;
  width: calc(var(--playfield-width) * var(--plot-size));
  grid-template-columns: repeat(var(--playfield-width), 1fr);
  grid-template-rows: repeat(var(--playfield-height), 1fr);
  grid-gap: 0;
  background-color: black;
}

.Playfield .Plot {
  position: relative;
  width: var(--plot-size);
  height: var(--plot-size);
  background-color: green;
  /* border: yellowgreen 1px solid; */
  font-size: 1.8vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* https://stackoverflow.com/a/56664704/346485 */

.Playfield .Plot,
.Playfield .Character {
  background-image: url('../../../images/ClassicRPG_Sheet.png');
  background-size: 2000% 800%; /* 20x8 sprites */
}

.Plot.type-Normal {
  background-position: -600% -57%;
}

.Plot.type-Plowed {
  background-position: -605% 0;
  background-size: 2020% 800%;
}

.Plot.type-Weeded {
  background-position: -595% 0;
}

.Plot.selectedForAction {
  border: yellow solid 1px;
}

.Plot.selected:before {
  /* https://css-tricks.com/snippets/css/multiple-borders/ */
  border: orange solid 2px;

  content: ' ';
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
}

.Plot .Plant {
  position: absolute;
  /* width: var(--plot-size);
  height: var(--plot-size);
  top: 0;
  left: 0; */
  top: 2.5vh;
  left: 2.5vh;
  width: 3vh;
  height: 3vh;

  pointer-events: none;
  background-image: url('../../../images/Crop_Spritesheet.png');
}

.Plot .Plant.type-Potato,
.Plot .Plant.type-TestPotato {
  background-position: -612.5% -252%; /* growing */
  background-size: 2000% 1160%;
}

.Plot .Plant.type-Potato.harvestable,
.Plot .Plant.type-TestPotato.harvestable,
.Plot .Plant.type-Potato.withered,
.Plot .Plant.type-TestPotato.withered {
  background-position: -621.5% -252%;
}

.Plot .Plant.type-Sunflower {
  background-position: -559.5% -344%;
  background-size: 2000% 1022%;
}

.Plot .Plant.type-Sunflower.harvestable,
.Plot .Plant.type-Sunflower.withered {
  background-position: -568.5% -344%;
}

.Plot .Plant.type-SeedlessWatermelon {
  background-position: -559.5% -194%;
  background-size: 2000% 1299%;
}

.Plot .Plant.type-SeedlessWatermelon.harvestable,
.Plot .Plant.type-SeedlessWatermelon.withered {
  background-position: -568.5% -194%;
}

.Plot .Plant.type-QuickCorn {
  background-position: -717.5% -334%;
  background-size: 2000% 1358%;
}

.Plot .Plant.type-QuickCorn.harvestable,
.Plot .Plant.type-QuickCorn.withered {
  background-position: -726.5% -334%;
}

.Plot .Plant.harvestable {
  top: 2.25vh;
  left: 2.25vh;
  width: 3.5vh;
  height: 3.5vh;
}

.Plot .Plant.type-NonFruitTree {
  top: 0.5vh;
  left: 0.5vh;
  width: 7vh;
  height: 7vh;
  background-image: url('../../../images/AppleTree_allSeasons.png');
  background-position: 0% 100%;
  background-size: 500% 317%;
}

.Plot .Plant.type-AppleTree {
  top: 0.5vh;
  left: 0.5vh;
  width: 7vh;
  height: 7vh;
  background-image: url('../../../images/AppleTree_allSeasons.png');
  background-size: 500% 317%;
}

.Plot .Plant.type-AppleTree.growing {
  background-position: 0% 0%;
}
.Plot .Plant.type-AppleTree.fruiting {
  background-position: 75% 0%;
}
.Plot .Plant.type-AppleTree.harvestable {
  background-position: 100% 0%;
}

.Plot .Plant.withered {
  filter: grayscale(100%);
}

.Plot .Plant.seed {
  top: 2.75vh;
  left: 2.75vh;
  width: 2.5vh;
  height: 2.5vh;
  border-radius: 50%;
  background-color: saddlebrown;
  background-image: none;
}

.Playfield .Character {
  position: absolute;
  width: 5vh;
  height: 5vh;
  background-position: 0 0;
}
